<html>
  <body>
    <h1>Messages received</h1>
    <table>
      <thead>
        <td>
          <th>id</th>
          <th>secret</th>
          <th>from</th>
          <th>message</th>
          <th>sent_timestamp</th>
          <th>sent_to</th>
          <th>message_id</th>
          <th>device_id</th>
        </td>
      </thead>
      <tbody>
        <% messages.each do |message| %>
        <tr>
          <th>0</th>
          <th><%= message.secret %></th>
          <th><%= message.from %></th>
          <th><%= message.message %></th>
          <th><%= message.sent_timestamp %></th>
          <th><%= message.sent_to %></th>
          <th><%= message.message_id %></th>
          <th><%= message.device_id %></th>
        </tr>
        <% end %>
      </tbody>
    </table>
  </body>

  <script type="text/javascript">
    window.onload = function(){
      (function(){
        var show = function(el){
          return function(msg){ el.innerHTML = msg + '<br />' + el.innerHTML; }
        }(document.getElementById('msgs'));
        var ws       = new WebSocket('ws://' + window.location.host + window.location.pathname);
        ws.onopen    = function()  { show('websocket opened'); };
        ws.onclose   = function()  { show('websocket closed'); }
        ws.onmessage = function(m) { show('websocket message: ' +  m.data); };
        var sender = function(f){
          var input     = document.getElementById('input');
          input.onclick = function(){ input.value = "" };
          f.onsubmit    = function(){
            ws.send(input.value);
            input.value = "send a message";
            return false;
          }
        }(document.getElementById('form'));
      })();
    }
  </script>
</html>
